apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv-nfs
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: 192.168.58.21
    path: /srv/web-content
