apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: proj-pvc-nfs
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  volumeName: proj-pv-nfs
  storageClassName: ''
